version = 1

[[analyzers]]
name = "javascript"
enabled = true

  [analyzers.meta]
  environment = ["browser", "nodejs"]
  config_file = ".eslintrc.json"   # опционально, если у вас есть eslint-конфиг
  setup_command = "npm install"    # опционально